*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input{
  height: 35px;
  width: 35vh;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 20px;
}
button{
  height: 35px;
  width: max-content;
  padding:0 15px;
  border: none;
  background-color: skyblue;
  border-radius: 20px;
  color: white;
}
button:hover{
  background-color: blue;
}
.link{
  text-decoration: none;

  padding:10px;
  background-color: bisque;
  border-radius:20px ;
}
